.App {
  text-align: center;
}

.user-row {
  border-bottom: 1px solid #cccccc00; /* Use a color that suits your design */
  margin-bottom: 10px; /* This will not affect table rows, but added for any non-table use */
}


.stock-row {
    margin-bottom: 5px; 
}

th, td {
  padding: 0 30px; /* Adjust the value to increase or decrease spacing */
}

.stock-entry {
  display: block; /* This will ensure each stock is on a new line */
  padding-bottom: 10px; /* Adjust the value to increase or decrease spacing */
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
