// Define variables
$primary-color: #000000;
$secondary-color: #6c757d;

body {
  font-family: 'Arial', sans-serif;
  color: $primary-color;
}

.button {
  background-color: $secondary-color;
  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}
