/* HomePage.css */

.home-container {
    padding: 20px;
    background-color: #223476;
    min-height: 100vh;
}

.edit-portfolio-button {
  margin-left: 10px;
  margin-right: 20px;
  padding: 20px 35px;
  border: none; /* Removed border for a cleaner look */
  border-radius: 4px;
  background-color: #7995e6; /* Blue color */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1); /* Consistent shadow for buttons */
}

.remove-stock-button {
  margin-left: 10px;
  margin-right: 20px;
  padding: 20px 35px;
  border: none; /* Removed border for a cleaner look */
  border-radius: 4px;
  background-color: #7995e6; /* Blue color */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1); /* Consistent shadow for buttons */
}

.home-header {
    max-width: 1400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-name, .header-value {
    background-color: #fff; /* White background color for consistency */
    padding: 20px; /* Padding for the boxes */
    border-radius: 8px; /* Rounded corners for the boxes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Box shadow for depth */
    margin-bottom: 20px; /* Spacing between the two boxes */
    width: 100%; /* Full width within the container */
    text-align: center; /* Center the text */
    font-size: 24px; /* Font size for visibility */
}

.header-value {
    font-size: 30px; /* Smaller font size for the portfolio value */
}

.home-content {
    max-width: 1400px;
    margin: 0 auto;
}
.stock-item {
    background-color: #fff; /* White background for the large box */
    padding: 10px; /* Padding inside the large box */
    margin-bottom: 20px; /* Spacing between each stock item */
    border-radius: 8px; /* Rounded corners for the large box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Shadow for depth */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
}

.stock-name {
    background-color: #7995e6; /* Light gray background for the stock name box */
    padding: 15px; /* Padding inside the stock name box */
    margin-bottom: 15px; /* Spacing between stock name and stock details */
    border-radius: 8px; /* Rounded corners for the stock name box */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05); /* Shadow for depth */
    text-align: center; /* Center align the stock symbol */
}

.stock-details {
    background-color: #b0bbf4; /* Very light gray background for the details box */
    padding: 15px; /* Padding inside the details box */
    border-radius: 8px; /* Rounded corners for the details box */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05); /* Shadow for depth */
}

.stock-details p {
    margin-bottom: 10px; /* Spacing between each detail */
    line-height: 1.5; /* Line height for better readability */
    font-size: 1.5em; /* Slightly smaller font size for details */
}

.loading-message{
    font-size: 60px; /* Font size for visibility */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Spacing from the top */
    color: #ffffff; /* White text color */
}